.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

.social-links .icon {
  width: 5rem;
  height: 5rem;
}

.icon-column .icon {
  width: 2.4rem;
  height: 2.4rem;
}
