.event-list-item {
  display: grid;
  grid-template-columns: 1fr 2fr 0fr;
  grid-gap: 2rem;
  margin-bottom: 6rem;
  align-items: start;

  .title {
    font-size: 2.4rem !important;
  }

  .event-list-meta {
    display: grid;
    grid-template-columns: 15px 1fr;
    grid-gap: 1rem;

    i {
      padding-top: 2px;
      font-size: 2.4rem;

      .fas {
        margin-top: 0rem;
      }
    }

    .meta {
      text-align: right;
    }
  }

  p {
    margin: 0;
  }
}

.event-list-date {
  display: grid;
  grid-template-columns: 1fr 1fr 0fr;
  grid-gap: 1.5rem;
  align-items: center;

  a {
    text-decoration: underline;
  }
}

.event-container {
  position: relative;
  max-width: 80rem;

  .title {
    display: flex;
    margin-left: -6.5rem;
    width: 100%;

    h1 {
      margin-bottom: 1rem;
    }

    .fas {
      font-size: 3.2rem;
      float: left;
      margin-top: 6.4rem;
      width: 6rem;
      text-align: center;
    }
  }

  i {
    padding-right: 2rem;
  }
}
