@font-face {
  font-family: "Fantasque Sans Mono";
  src: url("/fonts/FantasqueSansMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fantasque Sans Mono";
  src: url("/fonts/FantasqueSansMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fantasque Sans Mono";
  src: url("/fonts/FantasqueSansMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fantasque Sans Mono";
  src: url("/fonts/FantasqueSansMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

$mono-font-family: "Fantasque Sans Mono", monospace;

@mixin desktop {
  @media only screen and (max-width: "1365px") {
    @content;
  }
}
@mixin medium {
  @media only screen and (max-width: "1279px") {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: "1023px") {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: "767px") {
    @content;
  }
}

@mixin dark-mode {
  @at-root body.colorscheme-dark & {
    @content;
  }
  @at-root body.colorscheme-auto & {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  }
}

@mixin not-last {
  &:not(:last-child) {
    @content;
  }
}
@mixin not-first {
  &:not(:first-child) {
    @content;
  }
}
