<section class="container recent-content">
  <div class="sections-container">
    <div class="item-list">
      <h2>Posts</h2>
      <div class="grid-container">
        {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
        <div class="grid-row">
          <div class="icon-column">
            <i class="fas fa-pen-nib"></i>
          </div>
          <div class="title-column">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </div>
          <div class="date-column">
            <span class="post-date" title="{{ .Date.Format "2006-01-02 @ 15:04" }}">
              {{ .Date.Format "2006-01-02" }}
            </span>
          </div>
        </div>
        {{ end }}
      </div>
      <a href="/posts" class="view-all">View all posts</a>
    </div>

    <div class="item-list">
      <h2>Events</h2>
      <div class="grid-container">
        {{ range first 5 (where .Site.RegularPages "Section" "events") }}
        <div class="grid-row">
          <div class="icon-column">
            <i class="fas fa-microphone"></i>
          </div>
          <div class="title-column">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </div>
          <div class="date-column">
            <span class="event-date" title="{{ .Date.Format "2006-01-02 @ 15:04" }}">
              {{ .Date.Format "2006-01-02" }}
            </span>
          </div>
        </div>
        {{ end }}
      </div>
      <a href="/events" class="view-all">View all events</a>
    </div>
  </div>
</section>
