<div class="posts">
  <!-- Heading -->
  <div class="header">
    Posts
    <a href="#" class="list-meta-all" title="See all">See all</a>
  </div>

  <!-- Data -->
  <div class="column">
    <!-- 1 -->
    <a href="#" class="item">
      <div class="item-left">
        <i class="fa fa-check-circle fa-lg"></i>
        <h4 class="title">
          Solving the "Cheryl's Birthday" Problem with Prolog
        </h4>
      </div>
      <span class="date">01/01/2021</span>
    </a>
    <!-- 2 -->
    <a href="#" class="item">
      <div class="item-left">
        <i class="fa fa-check-circle fa-lg"></i>
        <span class="title"
          >Solving the "Cheryl's Birthday" Problem with Prolog
        </span>
      </div>
      <span class="date">01/02/2021</span>
    </a>

    <!-- 3 -->
    <a href="#" class="item">
      <div class="item-left">
        <i class="fa fa-check-circle fa-lg"></i>
        <span class="title"
          >Solving the "Cheryl's Birthday" Problem with Prolog
        </span>
      </div>
      <span class="date">01/02/2021</span>
    </a>

    <!-- 4 -->
    <a href="#" class="item">
      <div class="item-left">
        <i class="fa fa-check-circle fa-lg"></i>
        <span class="title"
          >Solving the "Cheryl's Birthday" Problem with Prolog
        </span>
      </div>
      <span class="date">01/02/2021</span>
    </a>
  </div>
</div>
